@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500&family=Roboto:wght@300;400;500&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  width: 1400px;
  margin: 91px 124px 157px;
  font-family: "Roboto";
}
h1 {
  margin-bottom: 18px;
  font-family: "Roboto Slab";
  font-weight: 700;
  font-size: 55px;
  line-height: 102%;
}
.center {
  display: flex;
}
.center .left {
  margin-right: 190px;
  width: 662px;
  height: 374px;
  line-height: 150%;
  font-size: 24px;
  font-weight: 400;
  font-family: "Roboto";
}
.left p:first-child{
  margin-bottom: 20px;
}
.right .camera {
  position: relative;
  width: 314px;
  height: 315px;
  top: 29px;
  left: 26px;
}
.right .ellipse {
  width: 366px;
  height: 59px;
  position: static;
}
footer {
  margin-top: 94px;
  display: flex;
  height: 219px;
}
.leftfoot {
  width: 232px;
  height: 203px;
}
.leftfoot .foto1{
    position: relative;
    width: 232px;
    height: 203px;
    top: 16px;
    left: -33px;
}
.leftfoot .ellipse{
    position: static;
    width: 189px;
    height: 32px;
}
.rightfoot {
  display: flex;
}
.rightfoot div {
  width: 150px;
  height: 39px;
  margin-left: 132px;
  text-align: center;
  padding-top: 70px;
}
.rightfoot .title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 25px;
  line-height: 130%;
}
.rightfoot .text {
  font-size: 18px;
  line-height: 130%;
  font-weight: 400;
  font-family: "Roboto";
}

@media screen and (max-width: 1399px) and (min-width: 830px) {
  .container {
    width: 830px;
    margin: 56px 87px 180px 72px;
  }
  h1 {
    width: 211px;
    height: 54px;
    font-size: 32px;
    margin-bottom: 10px;
  }
  .center .left {
    margin-right: 110px;
    width: 383px;
    height: 217px;
    font-size: 14px;
  }
  .right .camera {
    width: 182px;
    height: 183px;
    top: 17px;
    left: 15px;
  }
  .right .ellipse {
    width: 212px;
    height: 34px;
  }
  footer {
    margin-top: 70px;
    display: flex;
    height: 46px;
  }
  .leftfoot {
      display: none;
  }
  .rightfoot {
      width: 100%;
      height: 100%;
  }
  .rightfoot div {
    width: 87px;
    height: 23px;
    margin-left: 0;
    padding-top: 0;
  }
  .rightfoot .title {
    font-size: 15px;
  }
  .rightfoot .text {
    font-size: 11px;
  }
}

@media screen and (max-width: 829px) and (min-width: 375px) {
    .container {
      width: 375px; 
      margin: 56px 31px 124px 35px;
    }
    h1 {
      width: 170px;
      height: 43px;
      font-size: 26px;  
      margin-bottom: 8px;
    }
    .center {
        display: block;
      }
    .center .left {
      margin-right: 0;
      width: 309px;
      height: 174px;
      font-size: 12px;
      margin-bottom: 56px;
    }
    .right{
        width: 171px;
        height: 160px;
        margin: 0 auto;
    }
    .right .camera {
      width: 146px;
      height: 147px;
      top: 14px;
      left: 12px;
    }
    .right .ellipse {
      width: 171px;
      height: 28px;
    }
    footer {
      margin-top: 46px;
      display: flex;
      flex-wrap: wrap;
    }
    .leftfoot {
        display: none;
    }
    .rightfoot {
        display: flex;
        width: 100%;
        height: 37px;
        margin-right: 99px;
        flex-wrap: wrap; 
    }
    .rightfoot div {
        width: 87px;
        height: 36px;
        margin-left: 0;
        padding-top: 0;
        margin-right: 34px;
    }
    .rightfoot div:first-child {
        width: 87px;
        height: 36px;
        margin-left: 0;
        padding-top: 0;
        margin-right: 34px;
        margin-bottom: 30px;
    }
    .rightfoot .title {
      font-size: 12px;
    }
    .rightfoot .text {
      font-size: 10px;
    }
  }
  